body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.imgTop{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.imgLogo{
    min-width: 150px;
    max-width: 200px;
    padding-left: 70px;
    flex: 1;
}

.imgEscudo{
    min-width: 50px;
    max-width: 70px;
    padding-left: 46%;
}

.imgTitulo{
    padding-top: 8px;
    padding-right: 15%;
    color: #1E2943;
    font-size: 18px;
}

.navbar {
    display: flex;
    background-color: #1E2943;
    padding: 0.8% 4%;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2.5%;
}

.navbar-left, .navbar-center, .navbar-right{
    flex: 1;
}

.navbar-center{
    text-align: center;
}

.navbar-right{
    text-align: right;
}

.navbar a, .logout-btn {
    color: white;
    text-decoration: none; /* elimina la visibilidad link */
    margin: 0 15px; 
}

.logout-btn {
    background-color: #ffffff00;
    cursor: pointer;
    border: 1px solid white;
    padding: 10px 20px;
}

.recienteTitulo{
    text-align: center;
    padding: 3.5% 20px;
    font-size: 22px;
    color: #1E2943;
}

.recienteMostrar{
    display: flex;
    align-items: center;
    padding: 10px 25%;
    justify-content: space-between;
}

.tablaContenedor{
    display: flex;
    justify-content: center;
    padding: 15% 0;
}

.Tabla01{
    background-color: black;
}

td{
    background-color: white;
    padding: 10px 50px;
}
